<html>
    <head>
        <meta charset="UTF-8">
        <title>Login | Blood Donation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
        

        <!-- Bootstrap 4 links -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


        <!-- css link-->
        <link rel="stylesheet" href="css/login.css">

        
    </head>
    <body>
          <div class="container">
            <div class="row">
              <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                  <div class="card-body">
                      <div class="login100-form-title p-b-33">
                          <h3 class="login100-form-title" style="text-align: center">Blood Donation</h3>
                          <img id="nitt-logo" src="img/nitt_logo.png">
                          <h5 class="card-title text-center">Login</h5>
                          <p style="text-align: center">Use your webmail credentials to login</p>
                      </div>
                    <form class="form-signin" method="POST" action="/">
                      <div class="form-label-group">
                        <input type="integer" id="rollno" class="form-control" placeholder="Roll Number" required autofocus>
                        <label for="rollno">Roll Number</label>
                      </div>
        
                      <div class="form-label-group">
                        <input type="password" id="Password" class="form-control" placeholder="Password" required>
                        <label for="Password">Password</label>
                      </div>

                      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                    </form>
                  </div>
                  <div class="d-flex justify-content-center footer_div">
                  <span class="txt1">
                      MADE WITH <span style="color: darkred">❤️</span> BY  <a href="https://delta.nitt.edu" class="txt2 hov1" target="_blank">
                        DELTA FORCE
                      </a>   
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>