<html>
    <head>
        <meta charset="UTF-8">
        <title>Login | Blood Donation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">


        <!-- Bootstrap 4 links -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- fontawesome cdn -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>

        <!-- css link-->
        <link rel="stylesheet" href="css/login.css">


    </head>
    <body>
          <div class="container">
            <div class="row">
              <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="fadeInDown">
                <div class="card card-signin my-5">
                  <div class="card-body">
                      <div class="login100-form-title p-b-33">
                          <div class="fadeIn first">
                          <h3 class="login100-form-title" style="text-align: center">Blood Donation</h3>
                          <img id="nitt-logo" src="img/nitt_logo.png">
                          </div>
                          <div class="fadeIn second">
                          <h5 class="card-title text-center">Register</h5>
                          </div>
                      </div>
                    <form class="form-signin" method="POST" action="/" onsubmit="return check();">
                      <div class="fadeIn third">
                      <div class="form-label-group">
                          <input type="text" id="name" class="form-control" placeholder="Full Name" required autofocus>
                          <label for="name">Name</label>
                        </div>

                      <div class="form-label-group">
                        <input type="integer" id="mailid" class="form-control" placeholder="Email" required autofocus>
                        <label for="mailid">Email</label>
                      </div>

                      <div class="form-label-group">
                          <input type="date" id="Date" class="form-control" required>
                          <label for="Date">Date of Birth</label>
                      </div>

                      <div class="form-label-group">
                        <input type="password" id="Password" class="form-control" placeholder="Password" onkeyup='check();' required>
                        <label for="Password">Password</label>
                      </div>

                      <div class="form-label-group">
                        <input type="password" id="Confirm_Password" class="form-control" placeholder="Password" onkeyup='check();' required>
                        <label for="Password">Confirm Password</label>
                        <br>
                        <span id="Message"></span>
                      </div>

                      <!-- To check the password and confirm-passowrd are the same- -->
                      <script>
                         var check = function() {
                          if (document.getElementById('Password').value ==
                            document.getElementById('Confirm_Password').value) {
                            document.getElementById('Message').style.color = 'green';
                            document.getElementById('Message').innerHTML = 'Password Match';
                            return true;
                          } else {
                            document.getElementById('Message').style.color = 'red';
                            document.getElementById('Message').innerHTML = 'Password do not match';
                            return false;
                          }
                        }
                      </script>                      

                      <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">I agree to the terms and conditions.</label>
                      </div>

                      <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>

                    </div>
                    </form>
                  </div>
                  <div class="fadeIn fourth">
                  <div class="d-flex justify-content-center footer_div">
                  <span class="txt1">
                      MADE WITH <span style="color: darkred">❤️</span> BY  <a href="https://delta.nitt.edu" class="txt2 hov1" target="_blank">
                        DELTA FORCE
                      </a>   
                  </span>
                  </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
    </body>
</html> 